main {
    background: green;
    color: white;
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 50px;
}

footer {
    background: blue;
    color: white;
    margin: 100px;
}