table {
    border: 10px solid gray;
}

th {
    background: green;
    color: white;
    padding: 10px;
}

td {
    border: 2px solid green;
    width: 150px;
    text-align: center;
    padding: 5px;
}