section {
    background-color: #E9E9E9;
    margin: 5px;
    padding: 10px;
}

div {
    display: flex;
    background-color: lightblue;
    font-size: 20pt;
    margin: 5px 0;
}

.container-row {
    flex-direction: row; /* DEFAULT!! */
}

.container-row-reverse {
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.container-column {
    flex-direction: column;
    
}

.container-column-reverse {
    flex-direction: column-reverse;
    height: 1000px;

}